<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardsagainsthumanity.Entities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ohlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ohlogo">
        
        <activity
            android:name="com.cardsagainsthumanity.Entities.StartPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cardsagainsthumanity.Entities.CreateAccount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.CreateAccount" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.cardsagainsthumanity.Entities.Game"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.Game" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name="com.cardsagainsthumanity.Entities.JoinGame"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.JoinGame" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.cardsagainsthumanity.Entities.FriendsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.FriendsList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.cardsagainsthumanity.Entities.PlayerStats"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.PlayerStats" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          
           <activity
            android:name="com.cardsagainsthumanity.Entities.HowToPlay"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.cardsagainsthumanity.Entities.HowToPlay" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.cardsagainsthumanity.Entities.MainMenu"></activity>
        
    </application>

</manifest>